@charset "utf-8";
/* CSS Document */
.gallery article .image {
opacity: 1;
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
}
.gallery article .image:hover {
	opacity: 0.8;
}
.from-left h3 , .from-right h3 {
		position: absolute;
		bottom: 30px;
		left: 25px;
		color: #fff;
		padding: 2px 10px;
}
/* CTA */

	#cta {
		background: #e62b1e; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #e62b1e , #e73827); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #e62b1e , #e73827); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		color: #f9e5df;
		padding: 3.5em 0 4em 0;
		text-align: center;
	}

		#cta h2, #cta h3, #cta h4, #cta h5, #cta h6 {
			color: #fff;
		}
ul.actions {
				margin: 0 0 2em 0;
			}

				ul.actions li {
					display: block;
					padding: 1em 0 0 0;
					text-align: center;
				}

					ul.actions li:first-child {
						padding-top: 0;
					}

					ul.actions li > * {
						margin: 0 !important;
					}

						ul.actions li > *.icon:before {
							margin-left: -2em;
						}

				ul.actions.small li {
					padding: 0.5em 0 0 0;
				}

					ul.actions.small li:first-child {
						padding-top: 0;
					}
